{{!-- insert --}}
<div id="insert">
    <h3>Add new cupcakesOrdered</h3>
    <form id="add-cupcakesordered-form-ajax">
        <fieldset>
            <label for="add-orderID">Order</label> <select name="add-orderID" id="add-orderID" required>
                <option value="">&nbsp;</option>
                {{#each orders}}
                <option value="{{this.orderID}}">{{this.customerID}} {{dateFormat this.datePlaced}}</option>
                {{/each}}
            </select>
            <label for="add-cupcakeID">Cupcake</label> <select name="add-cupcakeID" id="add-cupcakeID" required>
                <option value="">&nbsp;</option>
                {{#each cupcakes}}
                <option value="{{this.cupcakeID}}">{{this.cakeFlavor}}, {{this.frostingFlavor}}</option>
                {{/each}}
            </select>
            <label for="add-quantity">Quantity</label> <input type="number" min="1" name="add-quantity" id="add-quantity" required>
        </fieldset>
        <input type="submit" value="Add CupcakesOrdered">
        <input type="reset" class="cancel" value="Cancel">
    </form>
</div>

<script src="./js/add_cupcakesordered.js"></script>

{{!-- display --}}
<div id="display">
    <h3>View cupcakes in orders</h3>
    <table id="cupcakesordered-table">
        <thead>
            <tr>
                <th><button id="new-button">Add</button></th> 
                <th>ID</th>
                <th>Order ID</th>
                <th>Cupcake</th>
                <th>Quantity</th>
            </tr>
        </thead>

        <tbody>
            {{#each data}}
            <tr>
                <td><button id="delete-button" onclick="deleteCupcakesOrdered({{this.cupcakesOrderedID}})">Delete</button></td>
                <td align="center">{{this.cupcakesOrderedID}}</td>
                <td align="center">{{this.orderID}}</td>
                <td align="center">{{this.cupcakeID}}</td>
                <td align="right">{{this.quantity}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script src="./js/delete_cupcakesordered.js"></script>

{{!-- update --}}
<div id="edit">
    <h3>Update cupcakes in order</h3>
    <form id="update-cupcakesordered-form-ajax">
        <fieldset>
            <label for="update-cupcakesOrderedID">ID</label> <select name="update-cupcakesOrderedID" id="update-cupcakesOrderedID">
                <option value="">&nbsp;</option>
                {{#each data}}
                <option value="{{this.cupcakesOrderedID}}">{{this.cupcakesOrderedID}}</option>
                {{/each}}
            </select>
            <label for="update-quantity">Quantity</label> <input type="number" min="1" name="update-quantity" id="update-quantity">
        </fieldset>
        <input type="submit" id="update-cupcakesOrdered-submit" value="Update CupcakesOrdered">
        <input type="reset" value="Cancel">
    </form>
</div>

<script src="./js/update_cupcakesordered.js"></script>