<table>
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.cupcakesOrderedID}}</td>
            <td>{{this.orderID}}</td>
            <td>{{this.cupcakeID}}</td>
            <td>{{this.quantity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>