{{!-- insert customer --}}
<div id="insert">
    <h3>Add new customer</h3>
    <form id="add-customer-form-ajax">
        <fieldset>
            <label for="add-firstName">First Name</label> <input type="text" name="add-firstName" id="add-firstName" required>
            <label for="add-lastName">Last Name</label> <input type="text" name="add-lastName" id="add-lastName" required>
            <label for="add-email">Email</label> <input type="text" name="add-email" id="add-email">
            <label for="add-phoneNum">Phone #</label> <input type="text" name="add-phoneNum" id="add-phoneNum">
        </fieldset>
        <input type="submit" value="Add Customer">
        <input type="reset" class="cancel" value="Cancel">
    </form>
</div>

<script src="./js/add_customer.js"></script>

{{!-- display table --}}
<div id="display">
    <h3>View customers</h3>
    <table id="customers-table">
        <thead>
            <tr>
                <th><button id="new-button">Add</button></th> 
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>

        <tbody>
            {{#each data}}
            <tr>
                <td><button id="delete-button">Delete</button></td>
                <td align="center">{{this.customerID}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{checkNull this.email}}</td>
                <td align="center">{{checkNull this.phoneNum}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
