{{!-- insert --}}
{{!-- <div id="insert" display:> --}}
    <h3>Add new customer</h3>
    <form id="add-customer-form-ajax">
        <fieldset>
            <label for="firstName">First Name</label> <input type="text" name="firstName" id="firstName">
            <label for="lastName">Last Name</label> <input type="text" name="lastName" id="lastName">
            <label for="email">Email</label> <input type="text" name="email" id="email">
            <label for="phoneNum">Phone #</label> <input type="text" name="phoneNum" id="phoneNum">
        </fieldset>
        <input type="submit" id="add-customer-submit" value="Add Customer">
        <input type="button" class="cancel" value="Cancel">
    </form>
{{!-- </div> --}}
<script src="./js/add_customer.js"></script>

{{!-- display tables --}}
<h3>View customers</h3>
<table>
    <thead>
        <tr>
            <th>Add</th> 
            <th></th>
            {{#each data.[0]}}   
            <th>{{@key}}</th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>Edit</td>
            <td>Delete</td>
            <td align="center">{{this.customerID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{checkNull this.email}}</td>
            <td>{{checkNull this.phoneNum}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
