{{!-- insert --}}
<div id="insert">
    <h3>Add new order</h3>
    <form id="add-order-form-ajax">
        <fieldset>
            <label for="add-customerID">Customer</label> <select name="add-customerID" id="add-customerID" required>
                <option value="">&nbsp;</option>
                {{#each customers}}
                <option value="{{this.customerID}}">{{this.firstName}} {{this.lastName}}</option>
                {{/each}}
            </select>
            <label for="add-workerID">Worker</label> <select name="add-workerID" id="add-workerID">
                <option value="">None</option>
                {{#each workers}}
                <option value="{{this.workerID}}">{{this.firstName}} {{this.lastName}}</option>
                {{/each}}
            </select>
            <label for="add-datePlaced">Date Placed</label> <input type="date" name="add-datePlaced" id="add-datePlaced" required>
            <label for="add-datePickedup">Date Picked Up</label> <input type="date" name="add-datePickedup" id="add-datePickedup">
            <label for="add-totalPrice">Total Price</label> <input type="number" min="0" step=".01" name="add-totalPrice" id="add-totalPrice" required>
        </fieldset>
        <input type="submit" value="Add Order">
        <input type="reset" class="cancel" value="Cancel">
    </form>
</div>

<script src="./js/add_order.js"></script>

{{!-- display orders --}}
<div id="display">
    <h3>View orders</h3>
    <table id="orders-table">
        <thead>
            <tr>
                <th><button id="new-button">Add</button></th> 
                <th>ID</th>
                <th>Customer</th>
                <th>Worker</th>
                <th>Date Placed</th>
                <th>Date Picked Up</th>
                <th>Total</th>
            </tr>
        </thead>

        <tbody>
            {{#each data}}
            <tr>
                <td><button id="delete-button" onclick="deleteOrder({{this.orderID}})">Delete</button></td>
                <td align="center">{{this.orderID}}</td>
                <td align="center">{{this.customerID}}</td>
                <td align="center">{{checkNull this.workerID}}</td>
                <td align="center">{{dateFormat this.datePlaced}}</td>
                <td align="center">{{dateFormat this.datePickedup}}</td>
                <td align="right">{{displayPrice this.totalPrice}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script src="./js/delete_order.js"></script>

{{!-- update --}}
<div id="edit">
    <h3>Update order</h3>
    <form id="update-order-form-ajax">
        <fieldset>
            <label for="update-orderID">ID</label> <select name="update-orderID" id="update-orderID" required>
                <option value="">&nbsp;</option>
                {{#each data}}
                <option value="{{this.orderID}}">{{this.orderID}}</option>
                {{/each}}
            </select>
            <label for="update-workerID">Worker</label> <select name="update-workerID" id="update-workerID">
                <option value="">None</option>
                {{#each workers}}
                <option value="{{this.workerID}}">{{this.firstName}} {{this.lastName}}</option>
                {{/each}}
            </select>
            <label for="update-datePickedup">Pick Up Date</label> <input type="date" name="update-datePickedup" id="update-datePickedup">
        </fieldset>
        <input type="submit" id="update-order-submit" value="Update Order">
        <input type="reset" value="Cancel">
    </form>
</div>

<script src="./js/update_order.js"></script>
