<table>
    <thead>
        <tr>
            <th>Add</th> 
            <th></th>
            {{#each data.[0]}}
            <th>{{@key}}</th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>Edit</td>
            <td>Delete</td>
            <td align="center">{{this.workerID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{checkNull this.email}}</td>
            <td>{{checkNull this.phoneNum}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>